html {
  background-color: #000;
  color: #fff;
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
  text-align: left;
}

img {
  max-width: 50%;
  height: auto;
  border: 2px solid #fff;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
